<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <!-- Declarație pentru log4net -->
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>

    <connectionStrings>
        <add name="SwimingContest"
             providerName=""
             connectionString="Data Source=D:\Git_repositoryes\mpp-proiect-csharp-DianaGliga11\SwimingContest.db;" />
    </connectionStrings>

    <appSettings>
        <add key="ConnectionType" value="Microsoft.Data.Sqlite.SqliteConnection" />
    </appSettings>

    <log4net>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
            </layout>
        </appender>

        <root>
            <level value="DEBUG" />
            <appender-ref ref="ConsoleAppender" />
        </root>
    </log4net>

</configuration>
