<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SwimingContest"
             connectionString="Data Source=D:\Git_repositoryes\mpp-proiect-csharp-DianaGliga11\SwimingContest.db;Version=3;"
             providerName="System.Data.SQLite" />
    </connectionStrings>
    <appSettings>
        <add key="ConnectionType" value="Microsoft.Data.Sqlite.SqliteConnection"/>
    </appSettings>
</configuration>